/* Styles généraux */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #808000; /* Vert olive */
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0.5rem 2rem;
    color: white;
}

.navbar .logo img {
    height: 50px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin-left: 25px;
}

.navbar .nav-links a {
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
    color: #a3b18a; /* Un vert plus clair pour le survol */
}

/* Burger menu pour mobile */
#menu-toggle {
    display: none;
}

.burger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* Styles pour le responsive */
@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; /* Hauteur de la navbar */
        left: 0;
        background-color: #333;
        text-align: center;
    }

    .navbar .nav-links li {
        margin: 1rem 0;
    }

    .burger {
        display: block;
    }

    #menu-toggle:checked + .burger + .nav-links {
        display: flex;
    }
}

/* Styles pour la fenêtre modale (popup) */
.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Empêche le défilement de l'arrière-plan */
    background-color: rgba(0,0,0,0.5);
    transition: visibility 0s linear 0.5s, opacity 0.5s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.5s;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Réduit la marge supérieure pour remonter la modale */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    position: relative;
    border-radius: 5px;
    max-height: 80vh; /* Hauteur maximale de la modale */
    overflow-y: auto; /* Ajoute un défilement si le contenu dépasse */
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.modal-content ul {
    list-style: none;
    padding: 0;
}

.modal-content li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.modal-content img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 15px;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
