*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    
    background-color: #b181282d; 
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(252, 251, 251, 0.3);
    padding: 0.5rem 2rem;
    color: #795404;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo img {
    height: 70px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.05);
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin-left: 25px;
}

.navbar .nav-links a {
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
    color: #a3b18a;
}

#menu-toggle {
    display: none;
}

.burger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
}

@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        text-align: center;
        padding: 1rem 0;
    }

    .navbar .nav-links li {
        margin: 0.8rem 0;
    }

    .burger {
        display: block;
    }

    #menu-toggle:checked + .burger + .nav-links {
        display: flex;
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal:target {
    display: flex;
}

.modal-content {
    background: #fff;
    color: #000;
    padding: 30px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    position: relative;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.modal-content ul {
    list-style: none;
    padding: 0;
}

.modal-content li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.modal-content img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 15px;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #333;
    cursor: pointer;
}


.hero {
    background-image: url('../img/Mafé.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35); 
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

.hero-content p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.buttons .btn {
    padding: 14px 28px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.btn.primary {
    background-color: transparent;
    color: #64d309;
    border-color: #a3b18a;
}

.btn.primary:hover {
    background-color: transparent;
    color: #a3b18a;
}

.btn.secondary {
    background-color: transparent;
    color: #dd9309;
    border-color: #fff;
}


.btn.secondary:hover {
    background-color: #fff;
    color: #333;
}
.btn.danger {
    background-color: transparent;
    color: #eb0a0a;
    border-color: #fff;
}
.btn.danger:hover {
    background-color: #fff;
    color: #aa0707;
}

/* menu */

.menu-section{
    padding: 80px 40px;
    text-align: center;
    background: #111;
}

.menu-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 28px;
    margin-top: 20px;
}
.menu-section h2{
    margin-bottom: 40px;
    color: #795404;
    font-size: 32px;
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}
.card{
    background: #1c1c1c;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s ease;
    color: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.card img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}
.card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: orange;
}

.card:hover{
    transform: scale(1.05);
}

/* galerie */

.galerie{
    padding: 80px 40px;
    text-align: center;
    background: #000;
}
.galerie h2{
    font-size: 32px;
    color: #795404;
}
.galerie-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 40px;
}
.galerie-grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s ease;
}
.galerie-grid img:hover{
    transform: scale(1.05);
}

/* réservation */

.reservation-section{
    padding: 80px 20px;
    background-color: #e0e0e065;
}

.reservation-section h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
    color: #795404;
}

.tittle{
    text-align: center;
    margin-bottom: 40px;
    color: #080000;
}

.reservation-form{
    max-width: 600px;
    margin: auto;
    background: #a7936f;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label{
    margin-bottom: 8px;
    font-weight: 600;
}

.form-group input, .form-group textarea{
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s;
}

.form-group input:focus, .form-group textarea:focus{
    border-color: #000;
    outline: none;
}

.btn-submit{
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-submit:hover{
    background-color: #333;
}

@media (max-width: 768px) {
    .hero {
        height: 100vh;
    }

    .hero-content h1 {
        font-size: 2.2rem;
    }

    .hero-content p {
        font-size: 1.1rem;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .buttons .btn {
        width: 80%;
        margin-bottom: 1rem;
    }
   

    .menu-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .galerie-grid{
        grid-template-columns: repeat(2,1fr);
    }

    .reservation-form {
        padding: 20px;
    }
}

.menu-section {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #fff;
}

.menu-section h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #333;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;
}

.card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
    color: #a3b18a;
}

.card p {
    font-size: 1rem;
    padding: 0 1.5rem;
    margin-bottom: 1rem;
}

.card span {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #795404;
    margin-bottom: 1.5rem;
}

.menu-buttons .btn.primary {
    background-color: #8a9a5b; /* A slightly deeper green */
    color: #fff;
    border-color: #8a9a5b;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    font-weight: 600;
}

.menu-buttons .btn.primary:hover {
    background-color: #79864c;
    border-color: #79864c;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.menu-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem; /* Increased gap */
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .menu-section {
        padding: 3rem 1rem;
    }

    .menu-section h2 {
        font-size: 2rem;
    }
}

.galerie {
    padding: 4rem 2rem;
    background-color: #f1f1ea;
}

.galerie h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #333;
}

.galerie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.galerie-grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galerie-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

@media (max-width: 768px) {
    .galerie {
        padding: 3rem 1rem;
    }

    .galerie h2 {
        font-size: 2rem;
    }

    .galerie-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}
